fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
openai-whisper
diffusers
transformers
accelerate
torch
torchvision
ultralytics
albumentations
opencv-python
soundfile
pyyaml
numpy
pillow