fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
openai-whisper
diffusers==0.21.4
transformers==4.38.2
huggingface_hub==0.21.4
accelerate
torch==2.4.1
torchvision
ultralytics
albumentations
opencv-python
soundfile
pyyaml
numpy
pillow
python-dotenv
pyjwt